.btn {
    border-radius: 0;
}

.btn + .btn {
    margin-left: 10px;
}

.option {
    background-color: #cadaee;
    border-radius:6px;
    cursor: pointer;
    font-size: 20px;
    margin: 4px;
}

.option label {
    cursor: pointer;
    display: block;
    padding: 10px;
}

#quiz .options input[type=checkbox] {
    height: 22px;
    margin-right: 6px;
    width: 22px;
}

.cursor-pointer {
    cursor: pointer;
}

.result-question {
    background-color: #eee;
    margin: 4px;
    padding: 6px;
}

/* Create Quiz Styles */
.create-quiz .question {
    text-align: left;
}

.create-quiz input[type=text] {
    border: 1px solid #ddd;
    width: 95%;
}

.create-quiz .tb-quiz-name {
    background-color: #ffcccf;
    text-align: center;
}

.create-quiz .tb-desc {
    background-color: #fff;
}

.create-quiz .options > div {
    margin-left: 20px;
}

.create-quiz .options input[type=checkbox] {
    border: 1px solid #262626;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 20px;
}

.quiztabcontainer {
    background-color: rgb(87, 180, 180);
    padding-top: 50px;
    padding-bottom: 400px;
    text-align: center
}

.quiztab {
    display: inline-block
}

.quizbutton {
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:12px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
    padding:30px 60px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.quizbutton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}
.quizbutton:active {
	position:relative;
    top:1px;
}


@media only screen and (max-width: 480px) {
    h1, .h1 {
        font-size: 22px;
    }

    h2, .h2 {
        font-size: 20px;
    }

    h3, .h3 {
        font-size: 18px;
    }

    .option {
        font-size: 16px;
        padding: 6px;
    }
}
