.home {
  height: calc(100vh - 56px);
  min-height: 200px;
  background-image: url("./assets/landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cbf4fa;
}

.login {
  height: calc(100vh - 56px);
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register {
  height: calc(100vh - 56px);
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding-top: 56px;
}
