.home {
  height: calc(100vh - 56px);
  min-height: 200px;
  background-image: url("./assets/landing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ee5847;
}

.login {
  height: calc(100vh - 56px);
  min-height: 800px;
  background-image: url("./assets/tmp1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 56px;
  background-color: #ee5847;
}

.register {
  height: calc(100vh - 56px);
  min-height: 1000px;
  background-image: url("./assets/register-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 56px;
  background-color: #ee5847;
}

.sidenav {
  width: 250px;
}

.jumbatronButton {
  margin-bottom: 5px;
  border-radius: 70px !important;
}

.learningModules {
  padding: 20px;
}

.find {
  padding-top: 30px;
}

.find-quiz {
  padding: 20px;
}
